.address-item-box {
	position: relative;
	padding: .3rem .05rem .3rem .3rem;
	background: #fff;
	margin-bottom: .2rem;
}
.address-item-box::after {
	display: block;
	content: '';
	position: absolute;
	top: .4rem;
	right: 1.07rem;
	bottom: .4rem;
	width: 1px;
	background: #e9e9e9;
}
.address-item-box .address-right {
	position: relative;
	display: block;
	padding: .25rem;
	font-size: .24rem;
	color: #666;
}

.add-address-btn {
	display: block;
	margin: 1rem .3rem 0;
	background: #1db219;
	-webkit-border-radius: .22rem;
	-moz-border-radius: .22rem;
	-o-border-radius: .22rem;
	border-radius: .22rem;
	line-height: .88rem;
	text-align: center;
	font-size: .36rem;
	color: #fff;
}

.weui-swiped-btn {
	padding: 0 .2rem;
}