
.wattle-call {
	position: relative;
	padding: 0 .3rem;
	background: #fff;
	line-height: .88rem;
	font-size: .28rem;
	color: #333;
}
.wattle-call::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: .3rem;
	right: .3rem;
	height: 1px;
	background: #e9e9e9;
}

.wallet-left input {
	flex: 1;
	margin-left: .3rem;
	line-height: .88rem;
	border: none;
	color: #333;
	outline: none;
}
.wallet-left .wattle-type {
	margin-left: .4rem;
}
.wallet-left .wattle-type img {
	width: .34rem;
	height: .27rem;
}
/*.wallet-left span.mask {
	position: relative;
}
.wallet-left span.mask::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	font-size: .32rem;
}*/

.pay-types-box {
	line-height: .3rem;
	padding: .15rem .3rem;
}
.pay-types-icon {
	display: block;
	width: .58rem;
	height: .58rem;
	margin-right: .2rem;
}
.pay-types p {
	font-size: .28rem;
	color: #333;
}
.pay-types span {
	font-size: .2rem;
	color: #666;
}
.weui-icon-success {
	color: #dd0a35;
}

.wattle-right span {
	font-size: .28rem;
	color: #e42c15;
}
.wattle-right img {
	display: block;
	width: .14rem;
	height: .26rem;
	margin-left: .3rem;
}

.upload-box {
	width: 100%;
	padding: .58rem 0 .5rem;
	text-align: center;
	background: #fff;
}

.code-img {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin: 0 auto .1rem;
}

.upload-box span {
	display: block;
	text-align: center;
	font-size: .2rem;
	color: #333;
	opacity: .2;
}

.submit-apply-btn {
	display: block;
	margin: 1rem .3rem .2rem;
	background: #dd0a35;
	-webkit-border-radius: .22rem;
	-moz-border-radius: .22rem;
	-o-border-radius: .22rem;
	border-radius: .22rem;
	font-size: .36rem;
	color: #fff;
	text-align: center;
	line-height: .88rem;
}


.color {
	color: #e42c15;
}
.bgcolor {
	background: #f6f6f6!important;
}