.shop-item-info {
	background: #fff;
	padding: .3rem;
	border-bottom: 1px solid #e9e9e9;
}
.shop-item-info .shop-img {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .3rem;
}
.shop-item-info .shop-num {
	font-size: .24rem;
	color: #444;
}
.shop-item-info .shop-price {
	font-size: .28rem;
	color: #e42c15;
}


/*跟单信息*/
.logistics-info-box {
	margin-top: .2rem;
	padding: .25rem .3rem 1rem;
	background: #fff;
}
.detail-info {
	position: relative;
}
.detail-info::after {
	display: block;
	content: '';
	position: absolute;
	top: .3rem;
	left: 1.15rem;
	bottom: .7rem;
	z-index: 1;
	border-right: 1px dashed #e9e9e9;
}
.detail-info > div {
	margin-top: .6rem;
}
.detail-info > div.transport {
	margin-top: .1rem;
}
.detail-info > div.transport .info-right {
	position: relative;
}
.detail-info > div.transport .info-right::before {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: -.39rem;
	z-index: 2;
	width: .08rem;
	height: .08rem;
	margin-top: -.04rem;
	background: #e9e9e9;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.detail-info > div:first-child {
	margin-top: 0;
}
.info-time {
	width: .8rem;
	margin-right: .35rem;
}

.info-time p {
	display: block;
	text-align: right;
	font-size: .26rem;
	color: #000033;
}
.info-time span {
	display: block;
	text-align: right;
	font-size: .22rem;
	color: #666;
}

.info-right {
	position: relative;
	margin-left: .35rem;
}

.info-right > div::before {
	display: block;
	content: '';
	position: absolute;
	top: .05rem;
	left: -.5rem;
	width: .3rem;
	height: .3rem;
	z-index: 2;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #e9e9e9;
	background: #fff;
}
.info-right > div.signing::after {
	display: block;
	content: '';
	position: absolute;
	top: .16rem;
	left: -.39rem;
	width: .1rem;
	height: .1rem;
	z-index: 3;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	background: #ff533b;
}